# 목차1 - 식별자
- 식별자에 대해 배웁니다.

In [1]:
1+1

2

## 스네이크 케이스와 캐멀 케이스
- 각 프로그래밍 언어마다 양식
- 클래스를 정의할 때, 앞문자가 대분자여야 함 / CamlCase
- 함수를 정의할 때, snake_case 방식으로 사용해라

# 목차2 - 식별자 구분하기

print() # 소문자
list() # 소문자
class Animal : # 대문자
BeautifulSoup() # 대문자/ CamelCase

# 입력과 출력
- input() : 입력
- print() : 출력

In [2]:
var1 = input("아무거나입력하")
print(var1)

아무거나입력하

In [3]:
print("# 하나만 출력합니다")
print()
print(10, 20, 30)

# 하나만 출력합니다

10 20 30

In [4]:
#여러 개를 출력합니다.
print("#여러 개를 출력합니다.")
print(10, 20, 30, 40, 50)
print("안녕하세요", "저의", "이름은", "장성민입니다!")
print()

#여러 개를 출력합니다.
10 20 30 40 50
안녕하세요 저의 이름은 장성민입니다!

In [5]:
#아무것도 입력하지 않으면 단순하게 줄바꿈합니다.
print("아무것도출력하지않습니다")
print("---확인전용선------")
print()
print()
3print("---확인전용선------")

아무것도출력하지않습니다
---확인전용선------


---확인전용선------

#자료형과 문자열
-숫자 : 물건의 가격
-문자 : 메시지 내용
-논리 / True or False
class는 설명서 즉, 설명서를 찾아내야함 python str documetation 이런식으로 검색

In [6]:
print(type("안녕하세여"))

<class 'str'>

In [7]:
import pandas as pd 
df = pd.DataFrame({
    'col1' : [1, 2, 3], 
    'col2' : [1, 2, 3], 
})

print(type(df))

<class 'pandas.core.frame.DataFrame'>

C:\Users\user\AppData\Local\Temp\ipykernel_11780\4176926866.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

## 문자열 만들기
- 큰 따옴표 방식 / 작은 따옴표 방식
- 결론부터 말하면, 지금은 크게 구분하지 않는다.
- 주의해야 하는 것은 "",'' 식으로 매칭시커야함
      + '" <--이런 것 안됨

page 89 확인, syntaxerror는 잘못 입력한거 문법에 안맞게

In [9]:
print('"안녕하세요"라고 말했습니다.')

"안녕하세요"라고 말했습니다.

## 이스케이스 문자
- \n : 줄바꿈
- \t : 탭
- \\ : 역슬래시(\)를 의미합니다.

In [11]:
print("안녕하세요\n안녕하세요")

안녕하세요
안녕하세요

In [12]:
print("안녕\t안녕하세요")

안녕	안녕하세요

 ## 문자열 연산자 (중요)
- 자주 사용함
- 사칙연산 중에서 덧셈과 곱셈 사용 가능

In [13]:
print(2+2)
print(5-2)
print(6*3)
print(3/6)

4
3
18
0.5

In [14]:
print("안녕" + "하세요")

안녕하세요

In [15]:
var1 = "안녕"
var2 = "하세요"

result = var1 + var2
print(result)

안녕하세요

In [16]:
result2 = var1 * 10
print(result2)

안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕

In [17]:
print("""큰따옴표 세개 치고 시작하면
엔터 누르는 곳마다 줄 ㅇ ㅣ바껴서
출력시킬 수 있다고
합니다.""")

큰따옴표 세개 치고 시작하면
엔터 누르는 곳마다 줄 ㅇ ㅣ바껴서
출력시킬 수 있다고
합니다.

In [1]:
num1 = "1"
var1 = "안녕"
resurt = num1 + var1
print(resurt)

1안녕

In [2]:
num1 = 1
var1 = "안녕"
resurt = str(num1) + var1
print(resurt)

1안녕

In [3]:
num3 = "3"
var2 = 2
resurt = int(num3) + var2
print(resurt)

5

## 문자 선택 연산자(인덱싱) : []
- 리스트, 튜플 등등 원리는 동일

In [5]:
var1 = "안녕하세요"
print(var1[0])
print(var1[1])
print(var1[3])

안
녕
세

In [13]:
var1 = "Hello, python!!"
print(var1[5:7], var1[9])
print(var1[5:10]) #인덱스번호는 마지막번호는 안나온다
print(var1[-1],var1[-2])

,  t
, pyt
! !

## 문자열 범위 선택(슬라이싱) [:]
- 리스트, 튜플 등 자료형과 원리 동일

In [21]:
       # 01 23 4 5
var1 = "안녕 반갑다!"
print(var1[1:5])
print(var1[-5:-1])
print(var1[1:])
print(var1[:4])

녕 반갑
 반갑다
녕 반갑다!
안녕 반

In [22]:
print(len(var1)) #전체 문자열 길이

7

In [24]:
var1 = "abababababababababab"
print(var1[0:])

abababababababababab

In [25]:
var1 = "abababababababababab"
print(var1[0::2]) #두칸건너서 가져오겠다

aaaaaaaaaa

In [26]:
var1 = "abababababababababab"
print(var1[1::2])

bbbbbbbbbb

# 자료형과 숫자

# 지수표현

In [27]:
0.52273e2

52.273

In [28]:
0.52273e-2

0.0052273

# 사칙연산

In [32]:
6/3 #실수로 연산됨

2.0

In [30]:
3 // 2 #나누기 연산자

1

In [31]:
5 % 3 #나머지 연산자

2

In [33]:
3 ** 2

9

In [37]:
number = 100
number += 10
number += 20
number += 30
print(number)

160

# input()

In [4]:
num1 = input("숫자를 입력하세요!!")
num2 = input("숫자를 입력하세요!!")

print(type(num1))

result = int(num1) + int(num2)
print(result)

숫자를 입력하세요!! 1
숫자를 입력하세요!! 2

<class 'str'>
3

In [5]:
num1 = "52"
num2 = "52.193"

print(int(num1))
print(float(num2))

52
52.193

In [9]:
print(int(float(num2)))

52

- "52.193"처럼 소숫점이 있는 문자열은 바로 정수 변환이 안됨(주의)
      문자열 ==> 실수형 ==> 정수형

In [14]:
>>> name = '홍길동'
>>> age = 30
>>> print(f'나의 이름은 {name}입니다. 나이는 {age}입니다.')

나의 이름은 홍길동입니다. 나이는 30입니다.

# 문자열 포멧팅
- 강사는 f-문자열 좋아함
- `f'문자열{표현식}문자열'`

In [15]:
# {} format() 함수 방식
num1 = 10
"{}".format(num1)

'10'

In [16]:
num1= 10
f'{num1}'

'10'

# 문자열의 내장 메서드
-공식문서 꼭 확인

-공식문서 찾아보고 chat gpt의 도움을 받아 예제코드도 받아서 코딩 돌려보고 하는 것이 좋다

In [18]:
s = "1234a5"
if s.isdigit():
    print(f"'{s}'는 모두 숫자로 이루어져 있습니다.")
else:
    print(f"'{s}'는 숫자로만 이루어져 있지 않습니다.")

'1234a5'는 숫자로만 이루어져 있지 않습니다.

In [19]:
s = "42"
filled_s = s.zfill(5)
print(f"Original: '{s}', zfilled: '{filled_s}'")

Original: '42', zfilled: '00042'

# 8교시에 할 것
문자열 내장 메서드 익히기
f문자열 익히기

# in 연산자
    - 결과값이 true or false로 나옴

In [22]:
print("안녕" in "안녕하세요")

True

In [23]:
print("안" in "안녕하세요")

True

In [24]:
print("안녕히" in "안녕하세요")

False

In [26]:
a = "10 20 30 40 50".split(" ")
print(a)

['10', '20', '30', '40', '50']

In [27]:
a = "10 20 30 40 50".split(sep = " ") #위와 같은 것임
print(a)

['10', '20', '30', '40', '50']

## 리스트와 튜플

In [32]:
a = list()
b = []
c = [1, 2, 3]
d = ["a", "b", "c"]
e = [1, 2, "a", None, True]
f = [1, 2, 3, [1, 2, "Hello Python!!!", None, True]]  # list 안에 list Nested list, 중첩리스트

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

[]
[]
[1, 2, 3]
['a', 'b', 'c']
[1, 2, 'a', None, True]
[1, 2, 3, [1, 2, 'Hello Python!!!', None, True]]

In [34]:
print(f[3])

[1, 2, 'Hello Python!!!', None, True]

In [39]:
f_a = f[3]
f_a[2]
text = f_a[2]
text[7:]

'ython!!!'

In [40]:
g = [1, 2, 3, 4, 5, 6, [1, 2, "Hi,,,, !! Python !!! Hello, ", None, True]]
g[6]

[1, 2, 'Hi,,,, !! Python !!! Hello, ', None, True]

In [41]:
g_a = g[6]
g_a[2]

'Hi,,,, !! Python !!! Hello, '

In [46]:
g_b = g_a[2]
g_f = g_b.find("Python")
print(g_f)

10

In [47]:
g_b[10]

'P'

In [48]:
g_b[10:17]

'Python '

In [49]:
g_b[10:16]

'Python'

In [55]:
g = [1, 2, 3, 4, 5, 6, [1, 2, "Hi,,,, !! Python !!! Hello, ", None, True]]
result = g[6][2][10:16]
print(result)

Python