## 리스트와 튜플
- 리스트 선언 후, 인덱싱 & 슬라이싱

In [1]:
list_a = [273, 32, 'A', True, [1, 2, 3]]
list_a[-1][2]

3

In [2]:
list_a[-2]

True

In [3]:
#p.196
list_a = [1, 2, 3]
list_b = [4, 5, 6]
list_a + list_b

[1, 2, 3, 4, 5, 6]

In [4]:
list_a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [5]:
list_a + list("a")

[1, 2, 3, 'a']

- 숫자는 scalar 자료형
- 문자는 sequence 자료형 (List도 sequence 자료형)

In [6]:
# list_a[인덱스번호] = 새로운 값
list_a[1] = "변경"
list_a

[1, '변경', 3]

In [7]:
len(list_a)

3

## append()와 insert()

In [8]:
list_a = [1, 2, 3]
list_a.append(4)
list_a.append("A")
list_a

[1, 2, 3, 4, 'A']

In [9]:
list_a.insert(3, 100)
list_a

[1, 2, 3, 100, 4, 'A']

In [10]:
list_a.pop(2)

3

In [11]:
list_a

[1, 2, 100, 4, 'A']

In [12]:
# 리스트를 정의합니다.
numbers = [1, 2, 3, 4, 5]

# 리스트를 뒤집습니다.
numbers.reverse()

numbers

[5, 4, 3, 2, 1]

In [13]:
list_a = [1, 2, 3]
list_a.apend(4)

AttributeError: 'list' object has no attribute 'apend'

## extend()
- extend() 함수는 매개변수로 리스트를 입력

In [14]:
list_a = [1, 2, 3]
list_a.extend('aqrwaf')
#iterable한 것만 넣어줄 수 있음
list_a

[1, 2, 3, 'a', 'q', 'r', 'w', 'a', 'f']

## 인덱스로 제거하기 : del 키워드, pop() 키워드

In [15]:
list_a = ["a", "b", "c", "d"]
del list_a[0]
list_a

['b', 'c', 'd']

In [16]:
del list_a[0]
list_a
#파괴적

['c', 'd']

In [ ]:
list_a = ["a", "b", "c", "d"]
popout = list_a.pop(3)
print(list_a)
print(popout)

## 값으로 제거하기: remove()
-인덱스 번호가 아닌 실제 값을 의미한다.

In [ ]:
list_a = ["a", "b", "a", "c", "d"]
list_a.remove("a")
list_a.remove("a")
list_a

## 리스트 정렬하기 : sort()

In [ ]:
list_a = [52, 273, 103, 32]
list_a.sort()
list_a

In [ ]:
list_a = [52, 273, 103, 32]
list_a.sort(reverse=True)
list_a

In [ ]:
"a" in "abc"

In [ ]:
273 in list_a

In [ ]:
312 not in list_a

## 튜플 (p.317)
- 리스트와 비슷한 자료형
- 인덱싱, 슬라이싱 모두 가능
- 리스트와 다르게 값을 수정할 수 없음

In [ ]:
tuple_test = (10, 20, 30, 40, 50, 60)
tuple_test

In [ ]:
tuple_test[2:5][0]

In [ ]:
list_a[0] = 100
list_a

In [ ]:
del list_a[0]

In [ ]:
del tuple_test[0]

In [ ]:
tuple_test[0] = 300

In [ ]:
list_c = [6,5,3,53,3,2,143]
list_c[2] = 14241
list_c

## 딕셔너리
- Web관련 자료형 중에서 JSON(JavaScript Object Notation) 형태와 유사
- pandas 데이터프레임을 만들 때도 매우 자주 사용
- 사전식 구성 연상
    + 키워드 입력 ==> 다양한 의미
    + Love, 동사, 명사 등등등

In [65]:
dict_a = {
    "name" : "어벤저스 엔드게임",
    "type" : "히어로 무비",
    "director" : ["안소니 루소", "조 루소"],
    "year" : 2019
}

dict_a

{'name': '어벤저스 엔드게임',
 'type': '히어로 무비',
 'director': ['안소니 루소', '조 루소'],
 'year': 2019}

In [66]:
# 딕셔너리 ==> 리스트 ==> 문자열로 자료형이 막 바뀌더라!!
dict_a['director'][0][2:5]

'니 루'

In [67]:
# key 설정 시, 무조건 따옴표 사용
dict_key = {
    'name' : "7D 건조망고",
    'type' : "당절임"
}
dict_key

{'name': '7D 건조망고', 'type': '당절임'}

In [68]:
dict_key['새로운키'] = "새로운값"
dict_key['price'] = "10,000"
dict_key['새로운 딕셔너리'] = {'a' : [10,000], 'b' : [1,2,3]}
dict_key

{'name': '7D 건조망고',
 'type': '당절임',
 '새로운키': '새로운값',
 'price': '10,000',
 '새로운 딕셔너리': {'a': [10, 0], 'b': [1, 2, 3]}}

In [69]:
dict_key['나이'] = '26'
dict_key['취미'] = {'a' :[12313], 'b' : [2132151]}
dict_key

{'name': '7D 건조망고',
 'type': '당절임',
 '새로운키': '새로운값',
 'price': '10,000',
 '새로운 딕셔너리': {'a': [10, 0], 'b': [1, 2, 3]},
 '나이': '26',
 '취미': {'a': [12313], 'b': [2132151]}}

In [70]:
del dict_key['나이']
dict_key

{'name': '7D 건조망고',
 'type': '당절임',
 '새로운키': '새로운값',
 'price': '10,000',
 '새로운 딕셔너리': {'a': [10, 0], 'b': [1, 2, 3]},
 '취미': {'a': [12313], 'b': [2132151]}}

In [71]:
dict_key.keys()

dict_keys(['name', 'type', '새로운키', 'price', '새로운 딕셔너리', '취미'])

In [72]:
dict_key.values()

dict_values(['7D 건조망고', '당절임', '새로운값', '10,000', {'a': [10, 0], 'b': [1, 2, 3]}, {'a': [12313], 'b': [2132151]}])

In [73]:
dict_key.items()

dict_items([('name', '7D 건조망고'), ('type', '당절임'), ('새로운키', '새로운값'), ('price', '10,000'), ('새로운 딕셔너리', {'a': [10, 0], 'b': [1, 2, 3]}), ('취미', {'a': [12313], 'b': [2132151]})])

In [74]:
temp = list(dict_key.keys())
temp.append("위치")
temp

['name', 'type', '새로운키', 'price', '새로운 딕셔너리', '취미', '위치']

In [75]:
type("a")

str

## 조건문
- 00 조건을 만족한다 ==> True
  + 그러면, 우리가 옷을 사야지!!
- 00 조건을 만족하지 못함 ==> False
  + 남의 옷을 얻어 입어야지
- if-else

In [76]:
a = 1
if a >= 1 :         # <-------해당되는 조건식을 만드는 것이 핵심
    print("1보다 큼")
else :
    print("1보다 작음")

1보다 큼

In [ ]:
a = int(input("숫자를 입력하세요"))
if 1<a<10 :
    print("한자리숫자")
else :
    print("아니다")

In [82]:
# p.163
if True:
    print("True입니다!")

True입니다!

In [ ]:
number = input("정수 입력해주세요!!!")
number = int(number)

# 양수 조건
if number > 0 :
    print("양수")

if number < 0 :
    print("음수")

if number == 0 :
    print("0이다")

시나리오
- 여러분의 돈이 00 있음
- 파이브가이즈 햄버거 세트 가격이 35,000원 이라고 함
- 햄버거 먹을 수 있는 상황/그렇지 못한 상황에 대해서 프로그래밍 하세요!

In [ ]:
money = int(input("지금 가진 돈을 입력하시오"))
price = 35000

if money < price :
    print("돌아가시오")

if money >= price :
    print("어서오세요")

In [ ]:
money = input("지금 가진 돈을 입력하시오")
money = int(money)


if money < 35000 :
    print("돌아가시오")

else :
    print("어서오시오")

## 날짜/시간 활용하기
- datetime(파이썬 기본 라이브러리)
  + 
- pandas to_datetime :
https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html

In [23]:
from datetime import time

# 시간 객체 생성
t = datetime.now().time()

# 속성 접근
print("Hour:", t.hour)          # 출력: Hour: 14
print("Minute:", t.minute)      # 출력: Minute: 30
print("Second:", t.second)      # 출력: Second: 45
print("Microsecond:", t.microsecond)  # 출력: Microsecond: 123456

Hour: 14
Minute: 34
Second: 0
Microsecond: 828882

In [25]:
import datetime

now = datetime.datetime.now()
now

datetime.datetime(2024, 6, 27, 14, 39, 16, 483117)

In [27]:
print(now.month,"월")

6 월

In [32]:
print(f'{now.year}년 {now.month}월 {now.day}일 {now.hour}시')

2024년 6월 27일 14시

## if-else와 elif 구문

In [38]:
import datetime

#현재 날짜와 시간 구하기
#월 추출해서 현재 계절 확인
now = datetime.datetime.now()
month = now.month
type(month)

if 3 <= month <= 5 :
    print("봄")
elif 6<= month <= 8 :
    print("여름")
elif 9<= month <= 11 :
    print("가을")
else :
    print("겨울")

여름

In [42]:
num = int(input("숫자를 입력하셍"))

if num >= 0 :
    #코드 디테일하게 작성
    num2 = num
    pass
else :
    pass

print("완료")

숫자를 입력하셍 45

완료

In [46]:
num = int(input("숫자를 입력하셍"))

if num >= 0 :
    
    #미구현상태 미루는거
    raise NotImplementedError
else :
    raise NotImplementedError

print("완료")

숫자를 입력하셍 57'

ValueError: invalid literal for int() with base 10: "57'"

## for 반복문
- p.207
- 몇번을 반복해야 하는지 사용자가 지정

In [48]:
for i in range(3):  # 처음에 범위 지정 할 때, 3번 정도 확인 후 ==> 확장
    print("출력")

출력
출력
출력

In [47]:
print("출력")
print("출력")

출력
출력

In [49]:
# p.209
array = [273, 32, 103, 57, 52]

for element in array:
    print(element)

273
32
103
57
52

In [53]:
text = ["afdas", "afdb", "dsc", "d","e"]

for element in array:
    print(element)

afdas
afdb
dsc
d
e

In [57]:
tuple_a = (1231422)

for element in tuple_a:
    print(element)

TypeError: 'int' object is not iterable

## 문제
- 반복문을 쓰고 싶음. 근데 interable만 가능하다고 함.
- 문제 : 자료형이 iterable인지 ㅇ나니지 알고 싶음. 그래서 iterable이면 반복문 수행 하도록 if-조건문 만들기
  + chatGPT에게 함수 물어보세요!!

In [60]:
from collections.abc import Iterable

# 함수 정의
def is_iterable(obj):
    return isinstance(obj, Iterable)

# 사용자 입력 받기
user_input = input("자료를 입력하세요: ")

# 입력값의 타입을 변경 시도
try:
    # 입력값을 평가하여 데이터 타입을 결정합니다.
    evaluated_input = eval(user_input)
except:
    # 평가가 실패하면 입력을 그대로 사용합니다.
    evaluated_input = user_input

# 결과 확인
if is_iterable(evaluated_input):
    print("iterable입니다")
else:
    print("not iterable입니다")

자료를 입력하세요:  [1,5,6,5,51]

iterable입니다

In [85]:
test = dict_key.values()
for elemenet in test:
    print(element)

e
e
e
e
e
e

In [86]:
from collections.abc import Iterable

# 함수 정의
def is_iterable(obj):
    return isinstance(obj, Iterable)

# 사용자 입력 받기
user_input = input("자료를 입력하세요: ")

# 입력값의 타입을 변경 시도
try:
    # 입력값을 평가하여 데이터 타입을 결정합니다.
    evaluated_input = eval(user_input)
except:
    # 평가가 실패하면 입력을 그대로 사용합니다.
    evaluated_input = user_input

# 결과 확인 및 출력
if is_iterable(evaluated_input):
    print("iterable입니다")
    for _ in range(3):
        print(evaluated_input)
else:
    print("not iterable입니다")

자료를 입력하세요:  test

iterable입니다
dict_values(['7D 건조망고', '당절임', '새로운값', '10,000', {'a': [10, 0], 'b': [1, 2, 3]}, {'a': [12313], 'b': [2132151]}])
dict_values(['7D 건조망고', '당절임', '새로운값', '10,000', {'a': [10, 0], 'b': [1, 2, 3]}, {'a': [12313], 'b': [2132151]}])
dict_values(['7D 건조망고', '당절임', '새로운값', '10,000', {'a': [10, 0], 'b': [1, 2, 3]}, {'a': [12313], 'b': [2132151]}])

In [91]:
list_of_list = [[1, 2, 3],[4, 5, 6, 7],[8, 9]]
list_of_list

for items in list_of_list:
    print(items)
    for item in items:
        print(item)

[1, 2, 3]
1
2
3
[4, 5, 6, 7]
4
5
6
7
[8, 9]
8
9

In [95]:
for i in range(1, 10):
    for j in range(1, 10):
        print(f'{i} x {j} = {i*j}')
    print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [98]:
for i in range(1,20):
    for j in range(1,20):
        print(f"{i} x {j} = {i*j}")
    print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
1 x 11 = 11
1 x 12 = 12
1 x 13 = 13
1 x 14 = 14
1 x 15 = 15
1 x 16 = 16
1 x 17 = 17
1 x 18 = 18
1 x 19 = 19

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
2 x 13 = 26
2 x 14 = 28
2 x 15 = 30
2 x 16 = 32
2 x 17 = 34
2 x 18 = 36
2 x 19 = 38

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
3 x 13 = 39
3 x 14 = 42
3 x 15 = 45
3 x 16 = 48
3 x 17 = 51
3 x 18 = 54
3 x 19 = 57

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
4 x 13 = 52
4 x 14 = 56
4 x 15 = 60
4 x 16 = 64
4 x 17 = 68
4 x 18 = 72
4 x 19 = 76

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60
5 x 13 = 65
5 x 14 = 70
5 x 15 = 75
5 x 16 = 80
5 x 17 = 85
5 x 18 = 90
5 x 19 = 95

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
6 x 11 = 66
6 x 12 = 72
6 x 13 = 78
6 x 14 = 84
6 x 15 = 90
6 x 16 = 96
6 x 17 = 102
6 x 18 = 108
6 x 19 = 114

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77
7 x 12 = 84
7 x 13 = 91
7 x 14 = 98
7 x 15 = 105
7 x 16 = 112
7 x 17 = 119
7 x 18 = 126
7 x 19 = 133

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
8 x 11 = 88
8 x 12 = 96
8 x 13 = 104
8 x 14 = 112
8 x 15 = 120
8 x 16 = 128
8 x 17 = 136
8 x 18 = 144
8 x 19 = 152

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
9 x 11 = 99
9 x 12 = 108
9 x 13 = 117
9 x 14 = 126
9 x 15 = 135
9 x 16 = 144
9 x 17 = 153
9 x 18 = 162
9 x 19 = 171

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
10 x 11 = 110
10 x 12 = 120
10 x 13 = 130
10 x 14 = 140
10 x 15 = 150
10 x 16 = 160
10 x 17 = 170
10 x 18 = 180
10 x 19 = 190

11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110
11 x 11 = 121
11 x 12 = 132
11 x 13 = 143
11 x 14 = 154
11 x 15 = 165
11 x 16 = 176
11 x 17 = 187
11 x 18 = 198
11 x 19 = 209

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
12 x 11 = 132
12 x 12 = 144
12 x 13 = 156
12 x 14 = 168
12 x 15 = 180
12 x 16 = 192
12 x 17 = 204
12 x 18 = 216
12 x 19 = 228

13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130
13 x 11 = 143
13 x 12 = 156
13 x 13 = 169
13 x 14 = 182
13 x 15 = 195
13 x 16 = 208
13 x 17 = 221
13 x 18 = 234
13 x 19 = 247

14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 5 = 70
14 x 6 = 84
14 x 7 = 98
14 x 8 = 112
14 x 9 = 126
14 x 10 = 140
14 x 11 = 154
14 x 12 = 168
14 x 13 = 182
14 x 14 = 196
14 x 15 = 210
14 x 16 = 224
14 x 17 = 238
14 x 18 = 252
14 x 19 = 266

15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150
15 x 11 = 165
15 x 12 = 180
15 x 13 = 195
15 x 14 = 210
15 x 15 = 225
15 x 16 = 240
15 x 17 = 255
15 x 18 = 270
15 x 19 = 285

16 x 1 = 16
16 x 2 = 32
16 x 3 = 48
16 x 4 = 64
16 x 5 = 80
16 x 6 = 96
16 x 7 = 112
16 x 8 = 128
16 x 9 = 144
16 x 10 = 160
16 x 11 = 176
16 x 12 = 192
16 x 13 = 208
16 x 14 = 224
16 x 15 = 240
16 x 16 = 256
16 x 17 = 272
16 x 18 = 288
16 x 19 = 304

17 x 1 = 17
17 x 2 = 34
17 x 3 = 51
17 x 4 = 68
17 x 5 = 85
17 x 6 = 102
17 x 7 = 119
17 x 8 = 136
17 x 9 = 153
17 x 10 = 170
17 x 11 = 187
17 x 12 = 204
17 x 13 = 221
17 x 14 = 238
17 x 15 = 255
17 x 16 = 272
17 x 17 = 289
17 x 18 = 306
17 x 19 = 323

18 x 1 = 18
18 x 2 = 36
18 x 3 = 54
18 x 4 = 72
18 x 5 = 90
18 x 6 = 108
18 x 7 = 126
18 x 8 = 144
18 x 9 = 162
18 x 10 = 180
18 x 11 = 198
18 x 12 = 216
18 x 13 = 234
18 x 14 = 252
18 x 15 = 270
18 x 16 = 288
18 x 17 = 306
18 x 18 = 324
18 x 19 = 342

19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
19 x 10 = 190
19 x 11 = 209
19 x 12 = 228
19 x 13 = 247
19 x 14 = 266
19 x 15 = 285
19 x 16 = 304
19 x 17 = 323
19 x 18 = 342
19 x 19 = 361

In [111]:
num1 = [2,3,4,5,6,7,8,9]
num2 = [1,2,3,4,5,6,7,8,9]

for a in num1:
    #print(a) 한 번 해보고 가기 반복문을 꼭 바로 하겠다는 생각은 버릴것
    for b in num2:
        print(f'{a} X {b} 는 {a*b}')

2 X 1 는 2
2 X 2 는 4
2 X 3 는 6
2 X 4 는 8
2 X 5 는 10
2 X 6 는 12
2 X 7 는 14
2 X 8 는 16
2 X 9 는 18
3 X 1 는 3
3 X 2 는 6
3 X 3 는 9
3 X 4 는 12
3 X 5 는 15
3 X 6 는 18
3 X 7 는 21
3 X 8 는 24
3 X 9 는 27
4 X 1 는 4
4 X 2 는 8
4 X 3 는 12
4 X 4 는 16
4 X 5 는 20
4 X 6 는 24
4 X 7 는 28
4 X 8 는 32
4 X 9 는 36
5 X 1 는 5
5 X 2 는 10
5 X 3 는 15
5 X 4 는 20
5 X 5 는 25
5 X 6 는 30
5 X 7 는 35
5 X 8 는 40
5 X 9 는 45
6 X 1 는 6
6 X 2 는 12
6 X 3 는 18
6 X 4 는 24
6 X 5 는 30
6 X 6 는 36
6 X 7 는 42
6 X 8 는 48
6 X 9 는 54
7 X 1 는 7
7 X 2 는 14
7 X 3 는 21
7 X 4 는 28
7 X 5 는 35
7 X 6 는 42
7 X 7 는 49
7 X 8 는 56
7 X 9 는 63
8 X 1 는 8
8 X 2 는 16
8 X 3 는 24
8 X 4 는 32
8 X 5 는 40
8 X 6 는 48
8 X 7 는 56
8 X 8 는 64
8 X 9 는 72
9 X 1 는 9
9 X 2 는 18
9 X 3 는 27
9 X 4 는 36
9 X 5 는 45
9 X 6 는 54
9 X 7 는 63
9 X 8 는 72
9 X 9 는 81

## 리스트 컴프리헨션
- pythonic한 코드
- 반복문을 한줄로 처리
- 결괏값은 리스트로 반환

In [115]:
a = [1, 2, 3, 4]
result = []
for num in a:
    print(num * 3)
    result.append(num * 3)

result
#코드 암기 이 코드 방식 정말 많이씀

3
6
9
12

[3, 6, 9, 12]

In [117]:
b = [1, 2, 3, 4]
result2 = [num * 3 for num in b]
result2

[3, 6, 9, 12]

In [119]:
num1 = [1, 2, 3, 4]
num2 = [10, 20, 30, 40]
for n1, n2 in zip(num1, num2):
    print(n1,n2)
    result.append(n1 * n2)
result

1 10
2 20
3 30
4 40

[3, 6, 9, 12, 10, 40, 90, 160]

In [123]:
num1 = [1, 2, 3, 4]
num2 = [10, 20, 30, 40]
result3 = [n1 * n2 for n1, n2 in zip(num1, num2)]
print(result3)

[10, 40, 90, 160]

In [127]:
list_of_lists = [ [1, 2, 3], [4, 5, 6], [7, 8, 9]]

for sublist in list_of_lists:
        print(sublist)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [128]:
list_of_lists = [ [1, 2, 3], [4, 5, 6], [7, 8, 9]]

for sublist in list_of_lists:
    for item in sublist:
        print(item)

1
2
3
4
5
6
7
8
9

In [130]:
squares = []
for x in range(1, 11):
    squares.append(x**2)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [129]:
squares = []
result = [x**2 for x in range(1, 11)]

result

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## while 반복문
- 조건식이 참이면 계속 수행함
- 예) 게임 (자동사냥)
  + 자동사냥 버튼 ==> True